<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero de Ajedrez</title>
</head>

<body>
<header>
        <h1>Tablero Ajedrez</h1>
    </header>

<div class="tablero piezas">
        <div class="blanco a8">
            <span class="pieza negra" style="font-size: 2.5rem;"
                data-info='{"tipo":"torre","color":"negra","x":0,"y":0}'>
                {{> torre}}
            </span>
        </div>
        <div class="negro b8" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"caballo","color":"negra","x":1,"y":0}'>
                {{>caballo}}
            </span>
        </div>
        <div class="blanco c8" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"alfil","color":"negra","x":2,"y":0}'>
                {{>alfil}}
            </span>
        </div>
        <div class="negro d8" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"reina","color":"negra","x":3,"y":0}'>
                {{>reina}}
            </span>
        </div>
        <div class="blanco e8" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"rey","color":"negra","x":4,"y":0}'>
                {{>rey}}
            </span>
        </div>
        <div class="negro f8" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"alfil","color":"negra","x":5,"y":0}'>
                {{>alfil}}
            </span>
        </div>
        <div class="blanco g8" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"caballo","color":"negra","x":6,"y":0}'>
                {{>caballo}}
            </span>
        </div>
        <div class="negro h8" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"torre","color":"negra","x":7,"y":0}'>
                {{>torre}}
            </span>
        </div>

        <div class="negro a7" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"negra","x":0,"y":1}'>
                {{>peon}}
            </span>
        </div>
        <div class="blanco b7">
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"negra","x":1,"y":1}'>
                {{>peon}}
            </span>
        </div>
        <div class="negro c7" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"negra","x":2,"y":1}'>
                {{>peon}}
            </span>
        </div>
        <div class="blanco d7" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"negra","x":3,"y":1}'>
                {{>peon}}
            </span>
        </div>
        <div class="negro e7" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"negra","x":4,"y":1}'>
                {{>peon}}
            </span>
        </div>
        <div class="blanco f7" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"negra","x":5,"y":1}'>
                {{>peon}}
            </span>
        </div>
        <div class="negro h7" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"negra","x":6,"y":1}'>
                {{>peon}}
            </span>
        </div>
        <div class="blanco g7" >
            <span class="pieza negra" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"negra","x":7,"y":1}'>
                {{>peon}}
            </span>
        </div>

        <div class="blanco a6"></div>
        <div class="negro b6"></div>
        <div class="blanco c6"></div>
        <div class="negro d6"></div>
        <div class="blanco e6"></div>
        <div class="negro f6"></div>
        <div class="blanco g6"></div>
        <div class="negro h6"></div>

        <div class="negro a5"></div>
        <div class="blanco b5"></div>
        <div class="negro c5"></div>
        <div class="blanco d5"></div>
        <div class="negro e5"></div>
        <div class="blanco f5"></div>
        <div class="negro g5"></div>
        <div class="blanco h5"></div>

        <div class="blanco a4"></div>
        <div class="negro b4"></div>
        <div class="blanco c4"></div>
        <div class="negro d4"></div>
        <div class="blanco e4"></div>
        <div class="negro f4"></div>
        <div class="blanco g4"></div>
        <div class="negro h4"></div>

        <div class="negro a3"></div>
        <div class="blanco b3"></div>
        <div class="negro c3"></div>
        <div class="blanco d3"></div>
        <div class="negro e3"></div>
        <div class="blanco f3"></div>
        <div class="negro g3"></div>
        <div class="blanco h3"></div>


        <div class="blanco a2">
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"blanca","x":0,"y":6}'>
                {{>peon color="blanca"}}
            </span>
        </div>
        <div class="negro b2" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"blanca","x":1,"y":6}'>
                {{>peon color="blanca"}}
            </span>
        </div>
        <div class="blanco c2" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"blanca","x":2,"y":6}'>
                {{>peon color="blanca"}}
            </span>
        </div>
        <div class="negro d2">
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"blanca","x":3,"y":6}'>
                {{>peon color="blanca"}}
            </span>
        </div>
        <div class="blanco e2" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"blanca","x":4,"y":6}'>
                {{>peon color="blanca"}}
            </span>
        </div>
        <div class="negro f2" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"blanca","x":5,"y":6}'
        >
                {{>peon color="blanca"}}
            </span>
        </div>
        <div class="blanco g2" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"blanca","x":6,"y":6}'>
                {{>peon color="blanca"}}
            </span>
        </div>
        <div class="negro h2" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"peon","color":"blanca","x":7,"y":6}'>
                {{>peon color="blanca"}}
            </span>
        </div>

        <div class="negro a1 " >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"torre","color":"blanca","x":0,"y":7}'>
                {{>torre color="blanca"}}
            </span>
        </div>
        <div class="blanco b1" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"caballo","color":"blanca","x":1,"y":7}'>
                {{>caballo color="blanca"}}
            </span>
        </div>
        <div class="negro c1" >
            <span class="pieza blanca" style="font-size: 2.5rem;" 
            data-info='{"tipo":"alfil","color":"blanca","x":2,"y":7}'>
                {{>alfil color="blanca"}}
            </span>
        </div>
        <div class="blanco d1" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"reina","color":"blanca","x":3,"y":7}'>
                {{>reina color="blanca"}}
            </span>
        </div>
        <div class="negro e1" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"rey","color":"blanca","x":4,"y":7}'>
                {{>rey color="blanca"}}
            </span>
        </div>
        <div class="blanco f1" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"alfil","color":"blanca","x":5,"y":7}'>
                {{>alfil color="blanca"}}
            </span>
        </div>
        <div class="negro g1" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"caballo","color":"blanca","x":6,"y":7}'>
                {{>caballo color="blanca"}}
            </span>
        </div>
        <div class="cuadro blanco h1" >
            <span class="pieza blanca" style="font-size: 2.5rem;"
            data-info='{"tipo":"torre","color":"blanca","x":7,"y":7}'>
                {{>torre color="blanca"}}
            </span>
        </div>
    </div>

    <div class="jugador-info">
        <p>Tú: Invitado</p>
      </div>

      <div class="controles-partida">
        <p id="turno-indicador">Turno: <span id="jugador-actual">Blancas</span> </p>
        <button id="btnRendirse" class="boton-partida">Rendirse</button>
        <button id="btnEmpatar"class="boton-partida">Empatar</button>
        <button id="btnNuevaPartida"class="boton-partida">Nueva Partida</button>
      </div>

      <div class="movimientos">
        <h3>Movimientos</h3>
        <div id="lista-movimientos"></div>
      </div>

      <div class="invitar-jugador">
        <h3>Invitar</h3>
        <input type="email" placeholder="Correo del amigo" />
        <button class="boton-partida">Invitar</button>
      </div>
    </main>

    <footer>
      <nav>
        <a href="historia">Historia</a>
        <a href="desarrolladores">Desarrolladores</a>
      </nav>
    </footer> 

        {{! ---------------------------------------------FUNCIONES DE MOVIMIENTO----------------------------------------------------------------------}}

    <script = src="/js/Movimientos.js"></script>

 {{! --------------------------------------------- FUNCIONES PARA DRAG & DROP.......---------------------------------------------------------------------}}

    <script src ="/js/Drag&Drop.js"></script>

{{! ------------------------------------------------------------FUNCIONES PARA EMPATAR, RENDIRSE Y CREAR NUEVA PARTIDA---------------------------------------------------------}}

    <script src="/js/BotonesPartida.js"></script>
    
</body>
    </html>


    
    
