<body>

    <header>
      <h1>Bienvenido usuario</h1>
      <h2>Tus estadísticas y datos de tus partidas</h2>
    </header>
<style>
  body{
    background-image: url('img/fondoperfil.png');
            background-size: cover;
background-position: center;
background-attachment: fixed
  }
</style>

    <main class="dashboard">
      <section class="stats-section">
        <h2>Estadísticas</h2>
        <div class="stats-grid">
          <div class="stat-card">
            <h3>Victorias</h3>
            <p>24</p>
          </div>
          <div class="stat-card">
            <h3>Empates</h3>
            <p>12</p>
          </div>
          <div class="stat-card">
            <h3>Derrotas</h3>
            <p>18</p>
          </div>
        </div>
      </section>
    <nav class="main-navprincipal">
      <ul>
        <li><a href="principal" style="color: black">Inicio</a></li>
        <li><a href="perfil" style="color: black">Perfil</a></li>
        <li><a href="partida" style="color: black">Partida</a></li>
        <li><a href="historia" style="color: black">Historia</a></li>
        <li>
          <a href="desarrolladores" style="color: black"
            >Desarrolladores</a
          >
        </li>
        <li>
          <a href="login" class="logout" style="color: black"
            >Cerrar sesión</a
          >
        </li>
      </ul>
    </nav>
      <section>
        <h2>Partidas en curso</h2>
        <ul class="game-list">
          <li>
            <a href="partida" style="color: black">Partida #1 vs CPU</a>
          </li>
        </ul>
      </section>

      <section>
        <h2>Partidas públicas</h2>
        <ul class="game-list">
          <li>
            <a href="partida" style="color: black">Partida pública #1 </a>
          </li>
        </ul>
      </section>

      <section>
        <h2>Nueva partida</h2>
    <button id="btnNuevaPartida">Crear Partida</button>
      </section>

      <section>
        <h2>Historial</h2>
        <table class="history-table">
          <tr>
            <th>Partida</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>#1 vs CPU</td>
            <td>Derrota</td>
          </tr>
        </table>
      </section>
    </main>
    <script src="js/BotonesPartida.js"></script>
</body>
    
